body{
    background-size: cover;
    background-position: center;
    font-family: 'Rowdies' cursive;
}
.heading{
    margin: 0px;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
}
.epo{
    color: black;
    margin-left: 520px;
    width: 250px;
    font-size: 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
}